footer .footerColumnas nav ul, footer .footerColumnas nav, footer div, .sobreMi, header .enlacesLogos, header nav ul, header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.trabajosDestacados div, body, footer .footerColumnas, footer {
  display: flex;
  flex-direction: column;
}

footer .footerColumnas nav ul, footer .footerColumnas nav, footer div, .sobreMi, header .enlacesLogos, header nav ul, header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.trabajosDestacados div, body, footer .footerColumnas, footer {
  display: flex;
  flex-direction: column;
}

header {
  align-items: center;
  background: #f2cc4b;
}
header nav ul {
  text-align: center;
  padding-top: 5%;
}
header nav ul li {
  margin: 0 5% 0 5%;
  list-style-type: none;
  font-size: 1.2rem;
}
header a img {
  width: 35%;
}
header .menuNav {
  background-color: #f2cc4b;
}

#banner {
  background-image: url("../images/banner.jpg");
  text-align: center;
  padding: 10%;
  background-size: 115%;
}
#banner h1 {
  font-size: 3.5rem;
  font-family: "Merriweather", serif;
  text-shadow: 0.3rem 0.3rem 0.5rem black;
  font-weight: 700;
}
#banner h2 {
  color: white;
  font-size: 2.2rem;
  font-family: "Merriweather", serif;
  text-shadow: 0.3rem 0.3rem 0.5rem black;
}
@media screen and (max-width: 320px) {
  #banner {
    padding: 5%;
    background-position: -125px 0px;
    background-size: 175%;
  }
  #banner h1 {
    font-size: 2rem;
    padding: 5% 0%;
    text-shadow: 0.3rem 0.3rem 0.5rem black;
  }
  #banner h2 {
    font-size: 1.2rem;
    text-shadow: 0.3rem 0.3rem 0.5rem black;
  }
}
@media screen and (min-width: 321px) and (max-width: 600px) {
  #banner {
    padding: 8%;
    background-position: center;
    background-size: auto;
  }
  #banner h1 {
    font-size: 2.5rem;
    padding: 7% 0%;
    text-shadow: 0.3rem 0.3rem 0.1rem black;
  }
  #banner h2 {
    font-size: 1.5rem;
    text-shadow: 0.3rem 0.3rem 0.1rem black;
  }
}

footer .footerColumnas nav ul, footer .footerColumnas nav, footer div, .sobreMi, header, header nav ul, header .enlacesLogos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.trabajosDestacados div, body, footer .footerColumnas, footer {
  display: flex;
  flex-direction: column;
}

.btnEnviar {
  display: block;
  padding: 1% 2%;
  background-color: rgb(89, 89, 230);
  font-size: 100%;
  color: white;
  text-align: center;
  justify-self: center;
  position: relative;
  margin: 1% 45% 5% 45%;
}
@media screen and (max-width: 320px) {
  .btnEnviar {
    display: block;
    font-size: 80%;
    margin: 1% 40% 5% 40%;
  }
}
@media screen and (min-width: 321px) and (max-width: 600px) {
  .btnEnviar {
    display: block;
    font-size: 80%;
    margin: 1% 40% 5% 40%;
  }
}

.contacto {
  margin: 5% 10%;
}

.menuTrabajos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border-style: solid;
  border-width: 0.2rem;
  margin: 0;
  padding: 0;
}
.menuTrabajos li {
  list-style-type: none;
  padding: auto;
  border-style: solid;
  border-width: 0.15rem;
  text-align: center;
  font-size: 1.5rem;
  height: 3rem;
  font-weight: 700;
}
@media screen and (max-width: 320px) {
  .menuTrabajos li {
    font-size: 1.1rem;
    height: 2rem;
  }
}
@media screen and (min-width: 321px) and (max-width: 600px) {
  .menuTrabajos li {
    padding: 3% 3%;
    font-size: 1.1rem;
    height: auto;
  }
}

footer .footerColumnas nav ul, footer .footerColumnas nav, footer div, .sobreMi, header, header nav ul, header .enlacesLogos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.trabajosDestacados div, body, footer .footerColumnas, footer {
  display: flex;
  flex-direction: column;
}

#fotoJavier {
  width: 30%;
  margin: 2%;
  margin-top: 0;
  border-radius: 20%;
}
@media screen and (max-width: 320px) {
  #fotoJavier {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    border-radius: 30%;
  }
}
@media screen and (min-width: 321px) and (max-width: 600px) {
  #fotoJavier {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    border-radius: 30%;
  }
}

.sobreMi {
  margin-top: 2%;
}
.sobreMi h2 {
  text-align: left;
}
@media screen and (max-width: 320px) {
  .sobreMi {
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
  }
  .sobreMi div h2 {
    text-align: center;
  }
  .sobreMi div p {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 321px) and (max-width: 600px) {
  .sobreMi {
    display: flex;
    flex-direction: column;
    margin: 15px 10px;
  }
  .sobreMi div h2 {
    text-align: center;
  }
  .sobreMi div p {
    font-size: 1rem;
    margin: 5%;
  }
}

footer .footerColumnas nav ul, footer .footerColumnas nav, footer div, header, header nav ul, header .enlacesLogos, .sobreMi {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.trabajosDestacados div, body, footer .footerColumnas, footer {
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #a3a3a3;
}
footer div {
  text-align: center;
}
footer .footerColumnas nav ul li {
  list-style-type: none;
  padding: 0 1rem;
}
footer .footerColumnas img {
  width: 35%;
}
footer p {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
footer p a {
  color: rgb(20, 20, 109);
}
@media screen and (max-width: 320px) {
  footer .explora {
    display: none;
  }
  footer p {
    width: 250px;
    font-size: 0.8rem;
    margin: 0 auto;
  }
  footer div {
    margin: 0 auto;
  }
  footer .footerColumnas img {
    width: 30%;
  }
}
@media screen and (min-width: 321px) and (max-width: 600px) {
  footer .explora {
    display: none;
  }
  footer p {
    width: 300px;
    margin: 20px auto;
  }
  footer div {
    margin: 0 auto;
  }
  footer .footerColumnas img {
    width: 30%;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

body h1 {
  color: white;
}
body h2 {
  text-align: center;
}
body h3 {
  font-size: 1rem;
}
@media screen and (min-width: 320px) {
  body {
    width: auto;
  }
}
@media screen and (min-width: 321px) and (max-width: 600px) {
  body {
    width: auto;
  }
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #f5af31;
  font-size: 115%;
  text-shadow: 0, 1rem 0.1rem 0.2rem black;
}
a img:hover {
  width: 40%;
}

.fondoNaranja {
  background-color: #f5af31;
  color: white;
  padding: 2.5rem;
  line-height: 4rem;
  text-align: center;
}
.fondoNaranja h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}
.fondoNaranja h3 {
  text-align: center;
  font-size: 1.3rem;
}
.fondoNaranja ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.fondoNaranja ul li {
  padding: 1rem;
  list-style-type: none;
}
.fondoNaranja ol li {
  list-style-position: inside;
}
.fondoNaranja .textoCentrado {
  text-align: center;
}
.fondoNaranja p {
  font-size: 1.5rem;
  font-weight: 500;
}
.fondoNaranja iframe {
  height: 40rem;
}
@media screen and (max-width: 320px) {
  .fondoNaranja {
    padding: 1.5rem;
    line-height: 2rem;
  }
  .fondoNaranja h2 {
    font-size: 1.2rem;
    padding-bottom: 4%;
  }
  .fondoNaranja h3 {
    font-size: 0.9rem;
  }
  .fondoNaranja ul {
    display: grid;
    grid-template-columns: auto;
    padding-left: 0;
  }
  .fondoNaranja ul li {
    padding: 0.1rem;
    font-size: 0.8rem;
  }
  .fondoNaranja ol li {
    font-size: 0.8rem;
    font-weight: 300;
  }
  .fondoNaranja p {
    font-size: 0.9rem;
    font-weight: 500;
  }
  .fondoNaranja img {
    width: 250px;
    box-shadow: 0.2rem 0.1rem 0.3rem black;
  }
  .fondoNaranja iframe {
    width: 240px;
    height: 144px;
    box-shadow: 0.2rem 0.1rem 0.3rem black;
  }
  .fondoNaranja .titulosTrabajosNaranja {
    text-align: center;
  }
}
@media screen and (min-width: 321px) and (max-width: 600px) {
  .fondoNaranja {
    padding: 1.7rem;
    line-height: 2.2rem;
  }
  .fondoNaranja h2 {
    font-size: 1.5rem;
    padding-bottom: 5%;
  }
  .fondoNaranja h3 {
    font-size: 1.2rem;
    padding-bottom: 2%;
  }
  .fondoNaranja ul {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10%;
  }
  .fondoNaranja ul li {
    font-size: 1rem;
  }
  .fondoNaranja ol li {
    font-size: 0.8rem;
    font-weight: 300;
  }
  .fondoNaranja p {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .fondoNaranja img, .fondoNaranja iframe {
    width: 85%;
    box-shadow: 0.3rem 0.3rem 0.3rem black;
  }
  .fondoNaranja .titulosTrabajosNaranja {
    text-align: center;
  }
}

.fondoBlanco {
  background-color: white;
  color: #f5af31;
  padding: 2.5rem;
  line-height: 4rem;
  text-align: center;
}
.fondoBlanco h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}
.fondoBlanco iframe {
  height: 40rem;
}
@media screen and (max-width: 320px) {
  .fondoBlanco {
    padding: 1.5rem;
    line-height: 2rem;
  }
  .fondoBlanco h2 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    padding-bottom: 4%;
  }
  .fondoBlanco img {
    width: 250px;
    box-shadow: 0.2rem 0.1rem 0.3rem black;
  }
  .fondoBlanco iframe {
    width: 240px;
    height: 144px;
    box-shadow: 0.2rem 0.1rem 0.3rem black;
  }
}
@media screen and (min-width: 321px) and (max-width: 600px) {
  .fondoBlanco {
    padding: 5%;
    line-height: 2rem;
  }
  .fondoBlanco h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 4%;
  }
  .fondoBlanco img, .fondoBlanco iframe {
    width: 85%;
    box-shadow: 0.3rem 0.3rem 0.3rem black;
  }
}

.carousel-item img, .carousel-item iframe {
  width: 80%;
}

.trabajosDestacados {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.trabajosDestacados div {
  flex-wrap: wrap;
}
.trabajosDestacados img, .trabajosDestacados iframe {
  width: 500px;
}
@media screen and (max-width: 320px) {
  .trabajosDestacados {
    padding: 0.5rem;
    flex-direction: column;
  }
  .trabajosDestacados div {
    align-items: center;
    padding: 10px 0;
  }
  .trabajosDestacados img {
    width: 250px;
  }
  .trabajosDestacados iframe {
    width: 250px;
    height: 144px;
  }
}
@media screen and (min-width: 321px) and (max-width: 600px) {
  .trabajosDestacados {
    padding: 0.7rem;
    flex-direction: column;
  }
  .trabajosDestacados div {
    align-items: center;
    padding: 10px 0;
  }
  .trabajosDestacados img, .trabajosDestacados iframe {
    width: 85%;
  }
}

/*# sourceMappingURL=style.css.map */
