header{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    background: $headerMain;
    nav{
        ul{
            display:flex;
            flex-direction:row;
            justify-content:space-between;
            text-align: center;
            padding-top:5%;
            li{
                margin: 0 5% 0 5%;
                list-style-type: none;
                font-size: 1.2rem;
            }
        }
    }
    .enlacesLogos{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
    }
    a{
        img{
            width:35%;
        }
    }
    .menuNav{
        background-color: $headerMain;
    }
}