@import "../base/maps";
#banner{
    background-image: url("../images/banner.jpg");
    text-align: center;
    padding: 10%;
    background-size: 115%;
    h1 {
        font-size: 3.5rem;
        font-family: "Merriweather", serif;
        text-shadow: map-get($map: $banner, $key: shadowBase);
        font-weight: 700;
    }
    h2{
        color: white;
        font-size: 2.2rem;
        font-family: "Merriweather", serif;
        text-shadow: map-get($map: $banner, $key: shadowBase);      
    }
    @media screen and (max-width:320px) {
        padding: 5%;
        background-position: -125px 0px;
        background-size: 175%;
        h1 {
            font-size: 2rem;
            padding: 5% 0%;
            text-shadow: map-get($map: $banner, $key: shadowBase);     
        }
        h2{
            font-size: 1.2rem;
            text-shadow: map-get($map: $banner, $key: shadowBase);      
        }
    }
    @media screen and (min-width:321px) and (max-width:600px) {
        padding: 8%;
        background-position: center;
        background-size: auto;
        h1{
            font-size: 2.5rem;
            padding: 7% 0%;
            text-shadow: map-get($map: $banner, $key: shadowTab);      
        }
        h2 {
            font-size: 1.5rem;
            text-shadow: map-get($map: $banner, $key: shadowTab);      
        }
    } 
}