@import "../base/extends";
@import "../base/maps";
@import "../base/mixin";
.btnEnviar{
    display: block;
    padding: 1% 2%;
    background-color: rgb(89, 89, 230);
    font-size: 100%;
    color:$secondColor;
    text-align: map-get($map: $general, $key: pos);
    justify-self: map-get($map: $general, $key: pos);
    position: relative;
    margin: 1% 45% 5% 45%;
    @media screen and (max-width:320px){
        @include chartMod;
    }
    @media screen and (min-width:321px) and (max-width:600px) {
        @include chartMod;
    }
}
.contacto{
    margin: 5% 10%;
}