@import "../base/extends";
@import "../base/maps";
footer{
    background-color: #a3a3a3;
    @extend %flexColumn;
    div{
        @extend %flexRowSpaBet;
        text-align: center;
    }
    .footerColumnas{
        @extend %flexColumn;
        nav{
            @extend %flexRowSpaBet;
            ul{
                @extend %flexRowSpaBet;
                li{
                    list-style-type: none;
                    padding: 0 1rem;                    
                }                
            }
        }
        img{
            width: 35% 
        }
    }
    p{
        margin-top: 1rem;
        margin-bottom:1.5rem;
        text-align: map-get($map: $general, $key: pos);
        a{
            color:rgb(20, 20, 109);  
        }
    }
    @media screen and (max-width:320px){
        .explora{
            display:none;
        }
        p{
            width: 250px;
            font-size: 0.8rem;
            margin: 0 auto;       
        }
        div{
            margin: 0 auto;   
        }
        .footerColumnas{
            img{
                width:30%;
            }
        }
    }
    @media screen and (min-width:321px) and (max-width:600px) {
        .explora{
            display:none;
        }
        p{
            width: 300px;
            margin: 20px auto;       
        }
        div{
            margin: 0 auto;
        }
        .footerColumnas{
            img{
                width: 30%;
            }
        }
    }
}